{% extends "slopes/base_template.html" %}

{% block description %}404 - Latest snow reports, weather conditions and ski and snowboarding resort opening dates for skiing
    and snowboarding spots on the West Coast{% endblock %}
{% block title %}404 - Not Found - West Coast Slopes{% endblock %}

{% block main_content %}
    <h3>404 - Not Found</h3>
    <br>
    <p class="lead">
        <a href="/">Back to home</a> - check out the latest snow reports and ski resort opening dates
    </p>
{% endblock %}


{% block extra_js_scripts %}
{% endblock %}
